@charset "utf-8";


/**NAVIGATION BAR**/

nav {
    max-width:1300px;
    margin:auto;
}

a.navbar-brand {
    max-width: 38px;
}

img.imgLogo {
    width: 100%;
}

a.nav-link {
    text-transform: capitalize;
    font-size: 0.9em;
    font-family: 'Hind+Siliguri', sans-serif;
    color: #D8D8D8 !important;
    font-weight: 400 !important;
    letter-spacing: 2px;
    margin-left: 20px;  
}

a.nav-link:hover{
    border-bottom: 3px solid #ffbe00; 
    padding-bottom: 0;
}



/**MAIN**/
@media only screen and (min-width: 768px) {
    div.main {
        background: url("images/backgrounds/bg-main-mobile.jpg");	
        background-color:#fff;
        background-size: cover;
        background-position: center;
    }
}

/**MOBILE**/
@media (min-width: 300px) and (max-width: 768px) {
  div.main {
    background-color: #fff;
    background-image: url("images/Backgrounds/bg-main-mobile.jpg");
    background-size: cover;
    background-position: 100%;
  }
}


div.hero {
    max-width: 1300px;
    margin: auto;
    padding-top: 15%;
    padding-bottom: 17%;
    text-align: center;
}

h1.heroH1 {
	font-family: 'Futura','Arial', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
	font-size:2em;
    color: #fff;
    padding-bottom: 2%;
    font-size: 2.5em;
}

h3.heroH3 {
    color: #eee;
    letter-spacing: 1.2px;
    text-shadow: 1px 1px 10px #424242;
    font-size: 1.5em;
    font-weight: 200;
    line-height: 170%;
}

/** SERVICES **/
div.service {
    background-color: #e2e2e9;
   /* box-shadow:  inset 0px 11px 30px -17px #000;*/
    padding-bottom: 5%;
}

div.serviceRowOne {
    padding-top: 10%;
    padding-bottom: 6%;
    max-width: 1080px;
    margin: auto;
}

h1.serviceH1 {	
	text-align:right;
	text-transform:capitalize;
    font-family: 'futura-pt',sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    color: #333;
    padding-right: 10%;
    border-right: 10px solid #ffbe00;
}


/**MOBILE - Header**/
@media (min-width: 300px) and (max-width: 768px) {
    h1.serviceH1 {
        border-right: 0px;
        border-bottom: 10px solid #ffbe00;
        font-size: 2.2em;
        padding-bottom: 5%;
        padding-top: 5%;        
    }
    h2.serviceH2 {
        padding-bottom: 5%;
        padding-top: 5%;     
    }
}


/*h2.serviceH2 {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: 'ROBOTO',sans-serif;
    font-size: 2.5em; 
    color: #fff;
}*/

h4.serviceH4 {
    text-align: left;
    color: #333;
    font-family: 'Futura-pt', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 10px; 
}

h5.serviceH5 {  
    text-align: left;
    margin-top: 3%;
    margin-right: 15%;
    font-family: 'Hind+Siliguri', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #404040;
}

div.serviceCol {
    padding: 2%;
}

div.serviceWeb {
    max-width: 1300px;
    margin:auto;
    padding-bottom: 2%;
    color: #404040;
    font-family: 'Hind+Siliguri', sans-serif;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-align: justify;
}


img.serviceGraphic {
    margin-bottom: 5%;
    margin-top: 1%;
    max-width: 5em;
}

i.fa-plus {
    font-size: 1.5em;
    color: #404040;
    padding-bottom: 20px;
}

i.fa-plus:hover {
    color: #ffbe00;
}

ul.noindent {
    list-style-position: outside;
    padding-left: 20px;
    padding-top: 20px;
    text-align: left !important;
}

li.serviceli {
    padding-bottom: 10px;
}

/** CONTACT **/

div.contact {
    background: #ffffff;
    background-image: url(images/Backgrounds/bg-contact.jpg);
    background-size: cover;
    box-shadow:  inset 0px 0px 200px -50px #000;
}

div.contactMain {
    max-width: 1300px;
    margin:auto;
    padding-top: 15%;
    padding-bottom: 13%;
    color: #fff;
    font-family: 'futura-pt', sans-serif;
    text-align: center;
    text-shadow: 0px 1px 3px #7a7a7a;
}

h1.contactH1{
    text-align:left;
	text-transform:capitalize;
    font-family: 'futura-pt',sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    color: #fff;    
    margin-left: 7%;
    padding-bottom: 1%;
}

p.contactP {
    text-align: left;   
    margin-left: 7%;    
    font-family: 'Hind+Siliguri', sans-serif;
    font-weight: 100;
    font-size: 1.1em;
    color: #ddd;
}

div.contactLeft {
    padding-right: 5%;
}

div.contactRight {
    padding-top: 2%;
}

label.col-form-label {
    text-align: right;
}

button.contactSubmit {
    width: 200px;
    margin-left: 18%;
}



/**MOBILE - align form text left, center botton**/
@media (min-width: 300px) and (max-width: 768px) {
    label.col-form-label {
        text-align: left;
    }
    button.contactSubmit {
        width: 200px;
        margin-left: 0%;
    }
}


/** TEAM **/
div.team {
    background-color: #e2e2e9;      
}

div.teamMain {
    max-width: 1300px;
    margin:auto;
    padding-top: 10%;
    padding-bottom: 5%;
    font-family: 'futura-pt', sans-serif;
}

h2.teamH2 {
	text-align:right;
    font-family: 'futura-pt',sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    color: #000;
    margin-right: 3%;
    padding-right: 10%;
    border-right: 10px solid #ffbe00;
    padding-top: 30px;
    padding-bottom: 30px;
}

h4.teamH4 {  
    text-align: left;
    margin-top: 20px;
    margin-right: 10%;
    font-family: 'Hind+Siliguri', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    color: #000;    
}

div.teamBioRow {
    max-width: 1300px;
    margin:auto;
    padding-bottom: 10%;
}

img.teamBio {
    width: auto;
    max-width: 70%;
    display: block;
    margin: auto;
    box-shadow: -1px 1px 2px #ccc;
    border: 0.5px solid #ccc;
}

h5.teamH5 {
    font-family: 'futura-pt', sans-serif;
    font-weight: 500;
    text-align: center;
    padding-top: 5%;
}

h6.teamH6 {
    font-family: 'Hind+Siliguri', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 1em;
}

/** Footer **/

div.footer {
    background: #39373C;

}

div.footerMain {
    max-width: 1080px;
    margin:auto;
    padding-top: 5%;
    padding-bottom: 2%;
    color: #7B7682;
    font-family: 'roboto','arial', sans-serif;
    text-align: center;
    font-size: 0.9em;
}

